<%= form_with(model: search, local: true) do |f| %>
  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.collection_select :client_id, Client.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :updated_open, "Date Range" %><br />
    <%= f.date_field :updated_open, value: f.object.try(:strftime,"%m/%d/%Y")%> -
    <%= f.date_field :updated_close, value: f.object.try(:strftime,"%m/%d/%Y")%>
  </div>

  <div class="field">
    <%= f.label :total_min, "Total Price Range" %><br />
    <%= f.number_field :total_min%> -
    <%= f.number_field :total_max%>
  </div>

  <p>Productos</p>
  <% Product.all.each do |p| %>
  <div class="field">
    <%= check_box_tag 'search[products][]', p.id.to_i %>
    <%= p.name %>
  </div>
  <% end %>

  <p>Estados</p>
  <% State.all.each do |p| %>
  <div class="field">
    <%= check_box_tag 'search[states][]', p.id.to_i %>
    <%= p.name %>
  </div>
  <% end %>


  <%= select_tag('search[order]', options_for_select([['Cliente', 'cliente'], ['Estado', 'estado'], ['Fecha', 'fecha'], ['Total', 'total']])) %>
  <div class="actions"><%= f.submit "Search" %></div>

<% end %>
