<h1>Ventas</h1>
<br>
<%= link_to "Crear Venta", new_sale_path %><br>
<div id="new-search">
  <%= link_to 'Filtrar', new_search_path, remote: true %>
</div>
<div class="container">
  <div class="columns is-centered is-vcentered">
    <div class="column has-text-centered">
<table class="table sales-table">
  <thead>
    <tr>

        <th><%= link_to "ID" %></th>
        <th><%= link_to "Cliente"%></th>
        <th><%= link_to "Estado" %></th>
        <th><%= link_to "Fecha" %></th>
        <th><%= link_to "Total" %></th>
        <th><%= link_to "Opciones" %></th>
    </tr>
  </thead>
  <tbody>
    <% @search.sales.each do |venta|%>
    <tr class="normal-sale-row">
      <th><%= link_to venta.id, sale_path(venta.id)%></th>
      <% if venta.client.deuda > 0 %>
        <td><%= link_to venta.client.name.split.map(&:capitalize).join(' ') , client_path(venta.client.id)%> <span class="deuda">($<%= venta.client.deuda %>)</span></td>
      <% else %>
        <td><%= link_to venta.client.name.split.map(&:capitalize).join(' ') , client_path(venta.client.id)%></td>
      <% end %>

      <td>
        <% if venta.sale_states.first %>
        <%= State.find(venta.sale_states.order("updated_at DESC").first.state_id).name %>
        <% end %>
      </td>
      <td>
        <% if venta.sale_states.first %>
          <%= SaleState.find_by(state_id: venta.sale_states.maximum("state_id"), sale_id: venta.id).updated_at.strftime("%d-%m-%Y") %>
        <% end %>
      </td>
      <td>$<%= venta.total %></td>
      <td>
        <%= link_to "Editar", edit_sale_path(venta.id)%> |
        <%= link_to "Eliminar", sale_path(venta.id), method: :delete %>
      </td>
    </tr>
    <tr class="hidden-row">
      <td colspan="6">
        <div class="container">
          <div id="box_columns" class="columns is-centered is-vcentered">
            <div class="column is-one-third has-text-centered">
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong><%= link_to venta.client.name.split.map(&:capitalize).join(' ') , client_path(venta.client.id)%></strong> <br>
                        +569<%= venta.client.phone %><br>
                        <% if Direction.find_by(client_id: venta.client.id).sector %>
                        <%= Direction.find_by(client_id: venta.client.id).sector.split.map(&:capitalize).join(' ') %><br>
                        <% else %>

                        <% end %>
                        <% if Direction.find_by(client_id: venta.client.id).street %>
                        <%= Direction.find_by(client_id: venta.client.id).street.split.map(&:capitalize).join(' ') %>
                        <% else %>

                        <% end %>
                      </p>
                      <hr>
                      <p>
                        <strong>Estados de Venta</strong> <br>
                      </p>
                      <table class="table">
                        <tbody>
                          <% venta.sale_states.each do |st| %>
                            <tr>
                              <td><%= st.state.name %></td>
                              <td><%= st.updated_at.strftime("%d-%m-%Y") %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div  class="column has-text-centered">
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Unidad</th>
                            <th>Precio Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% venta.sale_products.each do |sp| %>
                            <tr>
                              <td><%= sp.product.name %></td>
                              <td><%= sp.cantidad %></td>
                              <td><%= sp.product.unit_price %></td>
                              <td><%= sp.product.unit_price * sp.cantidad %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>
</div>
