<h1>Productos</h1><br><br>
<%= link_to "Crear Producto", new_product_path, class: "button is-primary is-light" %>
<br><br>

<br><br>
<div class="container">
  <div class="columns is-centered is-vcentered">
    <div class="column is-narrow has-text-centered">
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Precio Proveedor</th>
      <th>Peso Estimado</th>
      <th>Creado</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |producto|%>
    <tr class="current-product-row">
      <th><%= number_with_delimiter(producto.id, delimiter: ".")%></th>
      <td><%= link_to producto.name, product_path(producto.id)%></td>
      <td>$<%= number_with_delimiter(producto.unit_price, delimiter: ".") %></td>
      <td>$<%= number_with_delimiter(producto.supp_price, delimiter: ".") %></td>
      <td><%= number_with_delimiter(producto.estimated_weight, delimiter: ".") %> kg</td>
      <td><%= producto.created_at.strftime("%d-%m-%Y") %></td>
      <td><%= link_to "Actualiza", new_product_path(:base_id => producto.id), class: "button is-warning" %>
        <%= link_to "Eliminar", product_path(producto.id), data: {method: :delete}, class: "button is-danger" %>
      <%= link_to "Editar", edit_product_path(producto.id), class: "button is-primary" %>
      </td>
    </tr>
    <% Product.where(name: producto.name).order("products.created_at DESC").each do |ex_producto| %>
    <% if ex_producto != producto %>
    <tr class="hidden-product-row">
      <th><%= number_with_delimiter(ex_producto.id, delimiter: ".")%></th>
      <td><%= link_to ex_producto.name, product_path(ex_producto.id)%></td>
      <td>$<%= number_with_delimiter(ex_producto.unit_price, delimiter: ".") %></td>
      <td>$<%= number_with_delimiter(ex_producto.supp_price, delimiter: ".") %></td>
      <td><%= number_with_delimiter(ex_producto.estimated_weight, delimiter: ".") %> kg</td>
      <td><%= ex_producto.created_at.strftime("%d-%m-%Y") %></td>
      <td class="opciones"><%= link_to "Eliminar", product_path(ex_producto.id), data: {method: :delete}, class: "button is-danger" %>
        <%= link_to "Editar", edit_product_path(ex_producto.id), class: "button is-primary" %>

      </td>
    </tr>
    <% end %>
    <% end %>
    <% end %>

  </tbody>
</table>
</div>

</div>
</div>
