<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href=<%= root_path %>>
      LOGO
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Clientes", clients_path, class: "navbar-item" %>
      <%= link_to "Productos", products_path, class: "navbar-item" %>
      <%= link_to "Ventas", sales_path, class: "navbar-item" %>
    </div>




    <div class="navbar-end">
      <div class="navbar-item">
        <% if admin_logged_in? %>
        <div class="buttons">
          <%= link_to "Salir", destroy_admin_session_path,method: :delete ,class: "button is-light" %>
        </div>
        <% else %>
        <div class="buttons">
          <%= link_to "Sign Up", new_admin_registration_path, class: "button is-primary" %>
          <%= link_to "Log in", new_admin_session_path, class: "button is-light" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</nav>
</header>
