<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p style="color: red"><%= error %></p>
    <% end %>
<% end %>


<%= form_for @sale do |f| %>
  <%= f.label :client_id %>
  <%= f.collection_select(:client_id, Client.all, :id, :name, prompt: true) %>
  <br>
    <%= f.fields_for :sale_states do |sf|%>
      <%= f.label :state_ids %>
      <%= f.collection_select :state_ids, State.all, :id, :name, include_blank: true %>

    <% end %>
  <div id="sale_products">
    <%= f.fields_for :sale_products do |pf|%>
    <div class="field">
      <%= render 'sale_product_fields', f: pf %>
      <br>

    </div>


    <% end %>
  </div>
  <div class="form-actions">
    <div class="links">
      <%= link_to_add_association 'Add Product', f, :sale_products %>
    </div>
    <%= f.submit %>


  </div>

<% end %>
