<div class="nested-fields">
  <%= link_to_remove_association "Remove Product", f %>
<%= f.label :product_id %>
<%= f.collection_select(:product_id, Product.all, :id, :name, prompt: true) %>
<br>
<%= f.label :cantidad %>
<%= f.number_field :cantidad, min:1 %>
</div>
