<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p style="color: red"><%= error %></p>
    <% end %>
<% end %>


<%= form_for @client do |f| %>
  <%= f.label :name, "Nombre:" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :phone, "Telefono:  +569" %>
  <%= f.text_field :phone %>
  <br>
  <%= f.label :name_phone, "Nombre en Telefono:" %>
  <%= f.text_field :name_phone %>
  <br>
  <%= f.fields_for :direction_attributes do |builder|%>
    <%= builder.label :comuna, "Comuna" %>
    <% if @direction.comuna.present? %>
    <%= builder.text_field :comuna, value: @direction.comuna %>
    <% else %>
    <%= builder.text_field :comuna %>
    <% end %>
    <br>
    <%= builder.label :sector, "Sector" %>
    <% if @direction.sector.present? %>
    <%= builder.text_field :sector, value: @direction.sector %>
    <% else %>
    <%= builder.text_field :sector %>
    <% end %>
    <br>
    <%= builder.label :street, "Calle" %>
    <% if @direction.street.present? %>
    <%= builder.text_field :street, value: @direction.street %>
    <% else %>
    <%= builder.text_field :street %>
    <% end %>
  <% end %>
  <br>
  <%= hidden_field_tag "from", "new_sale" %>
  <%= f.submit "Confirmar" %>
<% end %>
