<h1>Clientes</h1><br><br>
<%= link_to "Crear Cliente", new_client_path %>
<br><br>
<div class="container">
  <div class="columns is-centered is-vcentered">
    <div class="column is-narrow has-text-centered">
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Deuda</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente|%>
    <tr>
      <th><%= cliente.id%></th>
      <td><%= link_to cliente.name, client_path(cliente.id)%></td>
      <% if cliente.deuda > 0 %>
        <td><span class="deuda">$<%= cliente.deuda%></span></td>
      <% else %>
        <td>-</td>
      <% end %>
      <td><%= link_to "Editar", edit_client_path(cliente.id) %> | <%= link_to "Eliminar", client_path(cliente.id), data: {method: :delete} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>
</div>
