
<h2>
  <strong>Cliente</strong>
</h2>
<br>
<%= link_to "Editar", edit_client_path(@client.id), class: "button is-primary is-light" %>
<%= link_to "Eliminar", @client, data: {method: :delete}, class: "button is-danger is-light" %>
<br><br>
<div class="container">
  <div class="columns is-centered is-vcentered">
    <div class="column is-narrow has-text-centered">

<table class="table">

  <tbody>
    <tr>
      <td>Nombre</td>
      <td><%= @client.name %></td>
    </tr>

    <tr>
      <td>Telefono</td>
      <td><%= @client.phone %></td>
    </tr>

    <tr>
      <td>Nombre en Celular</td>
      <td><%= @client.name_phone %></td>
    </tr>

    <tr>
      <td>Deuda</td>
      <% if @client.deuda > 0 %>
        <td><span class="deuda">$<%= @client.deuda%></span></td>
      <% else %>
        <td>-</td>
      <% end %>
    </tr>
  </tbody>
</table>

</div>
</div>
</div>
<br><br>
<h2>
  <strong>Dirección</strong>
</h2>
<% if @direction %>

<div class="container">
  <div class="columns is-centered is-vcentered">
    <div class="column is-narrow has-text-centered">
<table class="table">

  <tbody>

    <tr>
      <td>Comuna</td>
      <td><%= @direction.comuna %></td>
    </tr>

    <tr>
      <td>Sector</td>
      <td><%= @direction.sector %></td>
    </tr>

    <tr>
      <td>Calle</td>
      <td><%= @direction.street %></td>
    </tr>

  </tbody>
</table>

</div>
</div>
</div>
<% else %>

<h2>El usuario no tiene direccón</h2>

<% end %>
<br><br>
<h2>
  <strong>Ventas</strong>
</h2>
<div class="container">
  <div class="columns is-centered is-vcentered">
    <div class="column has-text-centered">
<table class="table sales-table">
  <thead>
    <tr>

        <th><%=  "ID" %></th>
        <th><%=  "Estado" %></th>
        <th><%=  "Fecha" %></th>
        <th><%=  "Total" %></th>
        <th><%=  "Opciones" %></th>
    </tr>
  </thead>
  <tbody>
    <% @client.sales.each do |venta|%>
    <tr class="normal-sale-row">
      <th><%= link_to venta.id, sale_path(venta.id)%></th>

      <td>
        <% if venta.sale_states.first %>
        <%= State.find(venta.sale_states.order("updated_at DESC").first.state_id).name %>
        <% end %>
      </td>
      <td>
        <% if venta.sale_states.first %>
          <%= SaleState.find_by(state_id: venta.sale_states.maximum("state_id"), sale_id: venta.id).updated_at.strftime("%d-%m-%Y") %>
        <% end %>
      </td>
      <td>$<%= venta.total %></td>
      <td>
        <%= link_to "Editar", edit_sale_path(venta.id), class: "button is-primary"%>
        <%= link_to "Eliminar", sale_path(venta.id), method: :delete, class: "button is-danger" %>
      </td>
    </tr>
    <tr class="hidden-row">
      <td colspan="5">
        <div class="container">
          <div id="box_columns" class="columns is-centered is-vcentered">
            <div class="column is-one-third has-text-centered">
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Estados de Venta</strong> <br>
                      </p>
                      <table class="table">
                        <tbody>
                          <% venta.sale_states.each do |st| %>
                            <tr>
                              <td><%= st.state.name %></td>
                              <td><%= st.updated_at.strftime("%d-%m-%Y") %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div  class="column has-text-centered">
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Unidad</th>
                            <th>Precio Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% venta.sale_products.each do |sp| %>
                            <tr>
                              <td><%= sp.product.name %></td>
                              <td><%= sp.cantidad %></td>
                              <td><%= sp.product.unit_price %></td>
                              <td><%= sp.product.unit_price * sp.cantidad %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
